<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>3A3C29D8-1CBB-4538-B94D-9D35FC6BFA1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2B425BD-6A41-4A3D-8D47-9B3087245566</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3AE74A4A-4E06-44E7-B41F-49C3DEBAE9F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>716DD2EF-4FBA-4C9C-8DF1-84580BC7BA0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2B425BD-6A41-4A3D-8D47-9B3087245566</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3AE74A4A-4E06-44E7-B41F-49C3DEBAE9F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7A402E5B-6F62-4321-91DF-19F21424A214</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AE74A4A-4E06-44E7-B41F-49C3DEBAE9F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8AABC8B1-1472-46A7-937E-EABC3FA257A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>80E8D777-290F-4581-A306-E2F6F91884C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8AABC8B1-1472-46A7-937E-EABC3FA257A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D2B425BD-6A41-4A3D-8D47-9B3087245566</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D402B43D-1A1C-4060-AA49-B72A29228629</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80E8D777-290F-4581-A306-E2F6F91884C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nadim Tawileh</string>
	<key>description</key>
	<string>Add Asana tasks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Asana/Toysana</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>askey</string>
				<key>subtext</key>
				<string>Usage: askey    API_KEY   PATH_TO_TOYSANA</string>
				<key>text</key>
				<string>Set Asana API Key and Path</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D402B43D-1A1C-4060-AA49-B72A29228629</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Asana</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>key=$(echo "{query}" | cut -d "\\" -f1)
path=$(echo "{query}" | cut -d' ' -f2-)

echo '#!/bin/bash' &gt; asana.sh
echo "export ASANA_API_KEY=""${key}""" &gt;&gt; asana.sh
echo "export ASANA_BIN=""${path}""" &gt;&gt; asana.sh
echo '${ASANA_BIN} $*' &gt;&gt; asana.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80E8D777-290F-4581-A306-E2F6F91884C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3A3C29D8-1CBB-4538-B94D-9D35FC6BFA1D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/asana.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D2B425BD-6A41-4A3D-8D47-9B3087245566</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Adding Task - Please Wait...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3AE74A4A-4E06-44E7-B41F-49C3DEBAE9F8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>et</string>
				<key>subtext</key>
				<string>Example: et tomorrow (defaults to today when no arguments specified)</string>
				<key>text</key>
				<string>Add Task from Chrome/Gmail</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>716DD2EF-4FBA-4C9C-8DF1-84580BC7BA0B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./asana.sh {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8AABC8B1-1472-46A7-937E-EABC3FA257A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>task</string>
				<key>subtext</key>
				<string>ex: task take a shower tomorrow</string>
				<key>text</key>
				<string>Add Asana Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7A402E5B-6F62-4321-91DF-19F21424A214</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3A3C29D8-1CBB-4538-B94D-9D35FC6BFA1D</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>3AE74A4A-4E06-44E7-B41F-49C3DEBAE9F8</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>716DD2EF-4FBA-4C9C-8DF1-84580BC7BA0B</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>7A402E5B-6F62-4321-91DF-19F21424A214</key>
		<dict>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>80E8D777-290F-4581-A306-E2F6F91884C3</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>8AABC8B1-1472-46A7-937E-EABC3FA257A8</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>D2B425BD-6A41-4A3D-8D47-9B3087245566</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>D402B43D-1A1C-4060-AA49-B72A29228629</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
